/* # Vision Board Project Style Guide */

:root {
--yellow:#FFF44F;
--white:#FFFFFF;
--lightgray:#E8E8E8;
--darkgray:#3B3B3B;
}

/* ## Images
Images are in the ‘img’ folder

font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;

## Fonts
- Montserrat (700)
- Permanent Marker (normal)
- Sizes: 20px | 30px | 38px */

body {
    background-color:var(--lightgray);
}

#vision-board {
    font-weight: 700;
    width: 1200px;
    height: 850px;
    margin: 50px auto;
    overflow:auto;
    background-image: url(../img/background.png);
    background-size: cover;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.large-block {
    height: 430px;
    padding: 70px 40px;
}

.small-block {
    height: 210px;
    padding: 20px 40px;
}

.block {
    float: left;
    width: 400px;
    box-sizing: border-box;
    padding-left: 40px;
}

.center {
    text-align: center;
}

.blk-center {
    text-align: center;
    padding-right: 40px;
}

.right {
    text-align: right;
}

.middle {
    text-align: center;
    padding-right: 20px;
}

.large-block {
    padding-top: 60px;
}

.right {
    padding-right: 50px;
}

strong {
    font-size: 38px;
    text-transform: none;
    line-height: 38px;
}

.highlight {
    background-color:var(--yellow);
    padding: 0 10px;
    font-size: 18px;
}

.title {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    margin: 10px 0;
}

.marker {
    font-size: 30px;
    font-family:'Montserrat', sans-serif;
}

.light-bg {
    background-color: white;
}

.dark-bg {
    background-color:#3b3b3b;
    color:var(--white);
}

.center p {
    color:var(--white);
}